<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<link rel="stylesheet" href="./css/style.css">
    <nav>

              <img src="https://yt3.googleusercontent.com/ytc/AIdro_n7nWhPVFB6h7pPd9sbSP65HR79ruSTcZv-XooT2mI--Gc=s160-c-k-c0x00ffffff-no-rj" alt="Metsamor Church">

        <form method="post">
<input type="text" name="book-name" id="book-name" placeholder="Book">
<input type="text" name="chapter" id="chapter" placeholder="Chapter">
<input type="submit" value="Send">
        </form>
    </nav>


</body>
</html>